/**
 * 定义样式标准样式文件
 */

// 定义字体使用规范

// 主标题
$fs-Elarge: 20px;
// 标题
$fs-large: 18px;
// 小标题
$fs-medium: 16px;
// 正文
$fs-small: 14px;
// 正文（小）
$fs-Esmall: 13px;
// 辅助文字
$fs-EEsmall: 12px;